@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box ;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #fff;
    line-height: 1.5;
    Letter-spacing: 1px;
}
.wrapper {
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url('manzara2.jpg');
    background-position:center;
    background-repeat: no repeat;
    background-size: cover;
}
.testimonial {
    padding: 30px 100px;

}
.m
.article h1 {
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing:1.5px;
}
article h1 after {
    content: "";
    height: 5px;
    width: 225px;
    background-color : #fff;
    display: block;
    margin:auto;
}
article img {
    height: 280px;
    width: 280px;
    border:2px solid #fff;
    border-radius: 00%;
    margin-top: 60px;
    margin:center;

}
article p {
    font-size: 27px;

    
}
blockquote{
    font-family: sans-serif;
    font-size: 30px;
    margin-top: 30px;
    }
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    align-self: center;
  }
  
  td, th {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 4px;
  }
  
  tr:nth-child(even) {
    background-color: #a0a7c7;
  }
.icons {
    position:relative;
    margin-top:30 px;
    
}
.icons .fa {
    width: 50px;
    height: 50px;
    padding: 15px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    color: #000;
    font-size:20px;
}
.icons .fa:hover {
background: #000;
color: #fff;
transition: 0.5s;
cursor: pointer;
}
.tablo {
    margin-left: 10%;
    margin-right: 10%;
}
.menu-bar {
    background: #1a0501;
    text-align: center;

}
.menu-bar ul {
    display: inline-flex;
    list-style: none;
}
.menu-bar ul li {
    width: 150px;
    margin: 15px;
    padding: 15px;

}
.menu-bar ul li a{
    text-decoration: none;
}
.active, .menu-bar ul li:hover {
    background: #d4c995;
    border-radius: 10px;
}