@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box ;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #fff;
    line-height: 1.5;
    Letter-spacing: 1px;
    
    

    
}
.wrapper {
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url('manzara2.jpg');
    background-position:center;
    background-repeat: no repeat;
    background-size: cover;
}
.testimonial {
    padding: 30px 100px;

}
.menu-bar {
    background: #1a0501;
    text-align: center;

}
.menu-bar ul {
    display: inline-flex;
    list-style: none;
}
.menu-bar ul li {
    width: 150px;
    margin: 15px;
    padding: 15px;

}
.menu-bar ul li a{
    text-decoration: none;
}
.active, .menu-bar ul li:hover {
    background: #d4c995;
    border-radius: 10px;
}.article h1 {
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing:1.5px;
}
article h1 after {
    content: "";
    height: 5px;
    width: 225px;
    background-color : #fff;
    display: block;
    margin:auto;
}
article img {
    height: 500px;
    width: 800px;
    border:2px solid #fff;
    border-radius: 0%;
    margin-top: 60px;
}
article img cv {
    height: 300px;
    width: 300px;
    border:2px solid #fff;
    border-radius: 50%;
    margin-top: 60px;
}
blockquote{
font-family: sans-serif;
font-size: 20px;
margin-top: 30px;
}
article h5 {
    text-transform:uppercase;
    font-size: 20px;
    margin-top: 30px;
    Letter-spacing: 1.5px;
}
article p {
    font-size: 17px;
    
}
.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px; 
    overflow: hidden;
    margin-left: 24%;
}
.slides {
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input {
    display: none;
}
.slide {
    width: 20%;
    transition: 2s;

}
.slide img{
    width: 800px;
    height: 500px;
}
.navigation-manual {
    position: absolute;
    width: 790px;
    margin-top: 430px;
    display: flex;
    justify-content: center;

}
.manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child) {
    margin-right: 40px;
}
.manual-btn:hover {
    background : #40D3DC;
}
#radio1:checked ~ .first{
    margin-left: 0 ;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40% ;
}
#radio4:checked ~ .first{
    margin-left: -60% ;
}
